%page
  %header
    %title Layout Managers

  %p There are five standard layout managers.

= render 'LayoutManager/LayoutManager'
= render 'AbsoluteLayout/AbsoluteLayout'
= render 'FlowLayout/FlowLayout'
= render 'HBoxLayout/HBoxLayout'
= render 'TableLayout/TableLayout'
= render 'VBoxLayout/VBoxLayout'
