%page
  %header
    %title Styles

= render 'Style/Style'
= render 'StyleCollection/StyleCollection'
= render 'BrushStyle/BrushStyle'
= render 'BulletStyle/BulletStyle'
= render 'FontStyle/FontStyle'
= render 'LabelStyle/LabelStyle'
= render 'LayoutStyle/LayoutStyle'
= render 'PageStyle/PageStyle'
= render 'ParagraphStyle/ParagraphStyle'
= render 'PenStyle/PenStyle'
= render 'TextStyle/TextStyle'
